<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Student Scheduler"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentApp"
        tools:targetApi="31">
        <receiver
            android:name=".ui.receivers.DateReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity
            android:name=".ui.SingleAssessmentActivity"
            android:exported="false"
            android:label="Single Assessment"
            android:parentActivityName=".ui.AssessmentActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.AssessmentActivity"
            android:exported="false"
            android:label="All Assessments"
            android:parentActivityName=".ui.HomeActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.SingleCourseActivity"
            android:exported="false"
            android:label="Single Course"
            android:parentActivityName=".ui.CourseActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.CourseActivity"
            android:exported="false"
            android:label="All Courses"
            android:parentActivityName=".ui.HomeActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.SingleTermActivity"
            android:exported="false"
            android:label="Single Term"
            android:parentActivityName=".ui.TermActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.TermActivity"
            android:exported="false"
            android:label="All Terms"
            android:parentActivityName=".ui.HomeActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.HomeActivity"
            android:exported="false"
            android:label="Home">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>